[BEGINVDF]
Comment=This patch marks all items (and non-empty chests) in the world on the map (Gothic 1 and Gothic 2 NotR)%%NToggle visibilty with weapon-key, set display colors and minimum item value in Gothic.ini
BaseDir=.\
VDFName=.\ItemMap.vdf

[FILES]
; Resources (list the specific files from _work here)
_work\Data\Textures\_compiled\PATCH_ITEMMAP_MARKER-C.TEX

; Script files
Ninja\ItemMap\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
